.one {
  position: relative;
}

.one div:nth-child(2) {
  position: relative;
  left: 24px;
  bottom: 24px;
}

.two {
  position: relative;
}

.two div:nth-child(3) {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.three {
  position: sticky;
}

.three div:nth-child(1) {
  position: fixed;
  left: 1000px;
}
